.env
SECRET_KEY=your-secret-key-goes-here
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=portfolio
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432
ALLOWED_HOST=localhost
